$width: 300px;
$height: 350px;

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Base Styles
--------------------------------------------------------------------------- */
#ad {
	display: block;
	absolute: top left right bottom;
	margin: auto;
	width: $width;
	height: $height;
	background: transparent;
	overflow: hidden;
	user-select: none;
}

.btn-overlay {
	display: block;
	absolute: top left z-index 50;
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
	cursor: pointer;
}
.btn-overlay:before {
	content: '';
	absolute: top left right bottom z-index 99;
	border: 1px solid #666;
}

.banner {
	position: relative;
	height: 100%;
	background: url(../img/background.jpg) center center no-repeat #fff;
	background-size: 100% 100%;
}

/* Frame Base Style
--------------------------------------------------------------------------- */
.frame {
	absolute: top left right bottom;

	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
}

/* Frame 1
--------------------------------------------------------------------------- */
.frame1-text {
	absolute: top 10px left 10px;
}
.js-bg-logo {
	absolute: top 250px left 0;
}
/* Frame 2
--------------------------------------------------------------------------- */
.frame2-text {
	absolute: top 10px left 10px;
}

/* Frame 3
--------------------------------------------------------------------------- */
.frame3-text {
	absolute: top 10px left 10px;
}

/* Frame 4
--------------------------------------------------------------------------- */
.frame4-text {
	absolute: top 10px left 10px;
}

/* Utility Styles
--------------------------------------------------------------------------- */
.u-hide {
	display: none;
}

.u-center {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
}

.u-center-x {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}

.z-3 {
	z-index: 3;
}
.z-4 {
	z-index: 4;
}
.z-5 {
	z-index: 5;
}
